main{
  background-color: rgb(33, 69, 127);
}

.logomn {
  width: 200px
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.8)!important;;
}

nav {

   /* height: 150px;  */
  background-color: transparent !important;
  background-image: url('../images/ondas.png');
  background-repeat: no-repeat;
  background-size: cover;
  
 /*  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; */
}

.navbar-nav{
padding-top:50px
}

/* nav.navShadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 100px;
} */




/* para que suba el navbar */
/* .navbar {
  top: 420px;
  background-color: transparent !important;
  background-image: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
}

.navbar-light .navbar-nav .nav-link .alt-color {
  color: rgba(0,0,0,.9);
}

.navbar.alt-color {
  top: 0;
  background-color: white;
  background-image: url('../images/ondas3.jpg');
} */






.limpia{
  clear: both;
}

.marketing{
  background-color: white;
  margin: 0px;
  width: 100% !important;
  padding-left: 30px;
  padding-right: 30px;
}

.page-section{
background-color: rgb(74, 138, 209);
padding-top: 30px;
color: white;
padding-bottom: 30px;
}

.page-section h3{
  color: white !important;
}


/* @media (min-width: 1200px){
  .marketing {
    max-width: 100% !important;
  }
} */
@media (min-width: 992px){
  .marketing {
    max-width: 100% !important;
  }
}
@media (min-width: 768px){
  .marketing {
    max-width: 100% !important;
  }
  
}
@media (min-width: 576px){
  .marketing {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 941px){
  .page-section{
    padding-bottom: 110px;
    }
}

@media screen and (max-width: 768px){
  .navbar-nav{
    padding-top:0px
    }

}

.ocultar{
  opacity: 0;
  transition: opacity 2s;
  } 

.visualizar{
  opacity: 1;
  transition: opacity 2s;
  } 


  .covid-btn {
    padding-top: 70px
  }
    
  @media (max-width: 768px){
    .covid-btn {
      padding-top: 80px
    }
  }