.logofooter {
  width: 200px;
  /* margin: 0 25% 0 25%; */
}

.footer-distributed{
	background-color: white;
	
	/* background-image: url('../images/ondas5.png');
	background-repeat: no-repeat;
	background-size: cover; */

	/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 35px 50px 10px 50px;
	/* margin-top: 80px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 38%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
  margin: 0;
  
}

.footer-distributed h3 span{
  color:  #007;
  
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #000000;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #000;
	font-size: 14px;
	font-weight: normal;
  margin: 0;
  text-align: center;
}

/* Footer Center */

/* .footer-distributed .footer-center{
	padding-left: 9%;
} */

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 22px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footer-distributed .footer-center p{
color: #000000;
text-decoration: none;

}

.footer-distributed .footer-center p span{
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #000;
	text-decoration: none;;
}


/* Footer Right */

/* .footer-distributed .footer-right{
	width: 22%;
	padding-right: 5%;
} */

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #000000;
	font-size: 14px;
	font-weight: bold;
  	margin-bottom: 20px;
	margin-top: 10px;

}

.footer-distributed .footer-icons{
  margin-top: 22px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 1050px) {

	.footer-distributed .footer-center p .email{
		font-size:12px;
		line-height:2;
		padding-top: 5px;
}
}
@media (max-width: 950px) {

	.footer-distributed .footer-center p .email{
		font-size:10px;
		line-height:1;
		padding-top: 8px;
}

}
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.footer-distributed .footer-center{
		padding-left: 5%;
	}
	.footer-distributed .footer-center p .email{
		font-weight: normal;
		font-size: 14px;
		line-height: 2;
		padding-top: 0px;
	}
}

@media (max-width: 768px) {

	.footer-distributed .footer-center{
		padding-top: 15px;
		margin-bottom: 0px;
	}
	
	.footer-distributed .footer-center .row{
		display: block;
	}

	.footer-distributed .footer-center .row .p{
		margin-top: 0px;
	}

	.footer-distributed .footer-center i{
		
		font-size: 20px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0px 0px;
		
	}
}



/* ------------------------------------------------------------------------------------------------------------------------------------------- */


.post-footer {
	padding-top: 7px;
	padding-bottom: 7px;
	background: #131516;
 }

.post-footer p{
	font-size: 10px; 
	text-align: center; 
	margin-bottom: 0px; 
	color: white;
	font: normal 'Cookie', cursive;
 }

 .col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;

}
.row-centered {
    text-align:center;
}