
/* html,
body {
  margin: 0;
  padding: 0;
} */





nav {
  width: 100%;
  height: 160px;
  background: transparent;
  background-image: url('../images/ondas3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav.navShadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 100px;
}
nav.navShadow #word-mark {
  opacity: 0;
}

#brand,
#menu,
ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#brand {
  padding-left: 75px;
}

#logo {
  width: 55px;
  height: 120px;
  cursor: pointer;
}

.logomn {
  width: 200px
}

/*** Menu Styles ***/
#menu {
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding-right: 75px;
}

li {
  margin-left: 20px;
  list-style: none;
  margin-right: 20px;
}

li a {
color: #fff;
text-align: center;
}

li :hover{
  /* background-color: white;; */
  color: gray;
  text-decoration: none;
  border-radius: 5px;
}

#menu-toggle {
  width: 55px;
  height: 55px;
  background: #2ea8ee;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  bottom: 10px;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}


/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 1490px) {
  li a {
    color: #000;
    }

}

@media screen and (max-width: 767px) {

  li a {
    color: #fff;
    }

  #menu-toggle {
    display: -webkit-box;
    display: flex;
  }

  nav { 
  /*   background-image: url('../images/ondas2.jpg');
  background-repeat: no-repeat; */
  background-size: contain;
  }

  .logomn {
    width: 170px;
    margin-top: 15px;
    
  }

  #brand {
    padding-left: 5px;
  }

  ul {
    display: inline-block;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 160px;
    -webkit-transform: translate( );
            transform: translate( );
            box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 0px;
  }

  ul.showMenu {
    height: 102px;
    width: 100%;
    left: 0px;
  }
  ul.showMenu li {
    height: 40px;
    opacity: 1;
    visibility: visible;
  }

  ul.showMenu :hover{
    background-color: white;;
    color: black;

  } 
  ul.showMenu  li :hover{
    background-color:transparent;;
    text-decoration: none;
    color: #46b2f0;
  } 



   li {
    width: 40%;
    height: 0px;
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    margin: 5px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    -webkit-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
    
    border-right: #000000 1px solid;
    padding-right: #000000 1px solid;
    margin-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-radius: 5px;
    text-align: center;

  }

  li:first-child, li:nth-child(1) li:nth-child(2) li:nth-child(){
    margin-top: 10px;
  }

}

