*{
	margin: 0;
	padding: 0;
}
.menu_bar {
	display:none;
}

header{
	width: 100%;
	/* background: #FBFBFB; */
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	z-index: 10;
}
.ancho{
	width: 100%;
	height: 150px;
	margin: auto;
	float: left;
}
.logo{
	width: 50%;
	height: 150px;
	/*background: #FBFBFB;*/
	/* background: rgba(255, 255, 255, 0.5); */
	background-image: url("Images/logo1.png");
	float: left;
	padding-top: 10px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	margin-left: 30px;
	cursor: pointer;
}
.logo p a{
	color: #231F20;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	font-family: sarysoft;
	box-sizing: border-box;
}
.centro{
	width: 15%;
	height: 150px;
	/* background: #FBFBFB; */
	float: left;
}
header nav {
	background: none;
	z-index:1000;
	width:100%;
	margin:20px auto;
	padding: 0;
}
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover{
	color: #2B8F9E;
} 

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:rgba(0, 15, 54, 0.623);
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	/*top:3px;*/
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	/*top:3px;*/
	margin-left:10px;
	margin-right:0px;
	align-content: center;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.8;
}

@font-face{
	font-family: sarysoft;
	src: url(Fuentes/SarySoft.otf);
}
