*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	/*background: #FBFBFB;*/
	background:  rgba(255, 255, 255, .8);
	height: 228px;
	position: fixed;
	z-index: 10;
}
.ancho{
	width: 100%;
	height: 228px;
	background: #FBFBFB;
	/*background:  rgba(7, 7, 7, .0);*/
	margin: auto;
	float: left;
}
.logo{
	width: 50%;
	height: 228px;
	background: #FBFBFB;
	/*background:  rgba(0, 0, 0, .0);*/
	background-image: url("Images/logo1.png");
	float: left;
	padding-top: 10px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	margin-left: 30px;
	cursor: pointer;
}
.logo p a{
	color: #231F20;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	font-family: sarysoft;
	box-sizing: border-box;
}
.centro{
	width: 15%;
	height: 228px;
	background: #FBFBFB;
	float: left;
}
nav{
	width: 30%;
	height: 228px;
	background:  rgba(0, 0, 0, .0);
	float: left;
	text-align: right;
	padding-top: 190px; /*para mover el nav del techo*/
	box-sizing: border-box;
	/*display: flex;*/
}

nav > ul{
	display: table;
	overflow: hidden;
	width: auto;
	/*background: #000;*/
	position: relative;
}
nav > ul > li{
	display: table-cell;
	
}
nav > ul > li > a{
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: sarysoft;
	color: black;
	display: block;
	line-height: 20px;
	padding: 9px;
	text-align: center;
}

nav > ul > li > ul{
	display: block;
	overflow: hidden;
	opacity: 0;
	transform: translateX(60%);
	transition: all .6s;
	width: auto;
	background: rgba(0, 0, 0, .8);
	position: relative;
}
nav > ul > li > ul > li {
	display: block;
}

nav > ul > li > ul > li a{
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: sarysoft;
	color: #FBFBFB;
	display: block;
	line-height: 20px;
	padding: 5px;
	text-align: center;
}

nav  ul li a:hover{
	/*background: #5da5a2;*/
	color: red;
	text-decoration: none;
}

 nav > ul > li:hover > ul{
	opacity: 1;
	transform: translateX(0%);
}
 
nav > ul > li > span:focus > ul{
	opacity: 1;
	transform: translateX(0%);
} 


@font-face{
	font-family: sarysoft;
	src: url(Fuentes/SarySoft.otf);
}
