.red{
	position: fixed;
	top: 350px;
	z-index: 100;
	left: 0;
}
#whatsapp a{
	background: rgba(37, 211, 102, 0.7);
	padding: 10px;
	color: #fff;
	text-decoration: none;
	width: 40px;
	transition: all .4s ease;
}
#whatsapp a:hover{
	background: #000;
	padding: 10px 35px;
}
#facebook a{
	background: #3b5998;
	padding: 10px 25px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#facebook a:hover{
	background: #000;
	padding: 10px 50px;
}
#youtube a{
	background: #bb0000;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#youtube a:hover{
	background: #000;
	padding: 10px 50px;
}
#twitter a{
	background: #55acee;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 55px;
	transition: all .4s ease;
}
#twitter a:hover{
	background: #000;
	padding: 10px 50px;
}
#correo a{
	background: rgba(219, 74, 57, 0.7);
	padding: 10px;
	color: #fff;
	text-decoration: none;
	width: 40px;
	transition: all .4s ease;
}
#correo a:hover{
	background: #000;
	padding: 10px 35px;
}