#particles-js{
	background: url(Images/barras.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	background-repeat: no-repeat;
}
.ancho-letras{
	top: 328px;
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.3);
	text-align: center;
	z-index: 1; 
}
.letras-slider{
	width: 80%;
	margin: auto;
}
.letras-slider h1{
	color: #fff;
	/*font-family: adventpro;*/
	font-family: sarysoft;
	font-size: 40px;
	padding-top: 20px;
}
.letras-slider p{
	color: #fff;
	/*font-family: adventpro;*/
	font-family: sarysoft;
	font-size: 20px; 
	padding-top: 10px;
	padding-bottom: 20px;
}