.limpia{
	clear: both;
    padding: 10px 0;
}

.wrapper{
    text-align: center;
  }

/* .section {
    padding: 30px 0;
    position: relative;
    
  } */
  
  .section-gray {
    display: block;
    /* background-color: #EEEEEE; */
  }
  
  .section-white {
    background-color: #FFFFFF;
  }

  .section p{
    margin-top: 30px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 200;
  }
  .section-description h5 {
    margin-top: 40px;
  }

  .description{
    /* margin-top: 80px; */
    /* color: white; */
    padding: 5px;
  }

   
@media (max-width: 767px){

     .section-presentation{
      margin: 0;
      height: auto;
    }

    .description{
        margin-top: 65px;  }

    .recaudo{
        width: 340px;
    }

  }
  


  .section-demo{
    margin-top: 50px;
   }

   .section-demo a{
    margin-top: 20px;
   }

   .section-demo .demo-image{
    position: relative;
    width: 100%;
    display: block;
   }

   .section-demo .demo-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
   }

   .section-demo .row:first-child{
    margin-bottom: 100px;
   }

   .banner-2{
	margin-top: 50px;
	background: url('../images/ST/9.png');
	float: left;
	width: 100%;
	height: 500px;
	background-repeat: no-repeat; 
	background-size: contain;
	background-attachment: fixed;
	text-align: center;
    padding: 0;
}
.banner-2 h3{
	background: rgba(0, 0, 0, .2);
	color: #fff;
	font-size: 22px;
	font-weight: normal;
	height: 100%;
	/* padding-top: 5%; */
}
.banner-2 a{
	text-decoration: none;
	margin-left: 20px;
	font-weight: normal;
	color: #fff;
	border-bottom: 2px solid #fff;
}

@media (max-width: 500px){
    .banner-2{
        top: 50%;
        background: url('../images/ST/9cel.png');
        float: left;
        width: 100%;
        height: 200px;
        background-repeat: no-repeat; 
        background-size: contain;
        background-attachment: fixed;
        text-align: center;
        padding: 0;
   
    }
 }