
.desaparece {
  background: rgba(255, 255, 255, 1);
  /* background: radial-gradient(rgba(2, 2, 2, 0.5),rgba(0,0,0,0.5)); */
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999999999;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

svg.intro {
    /* background: linear-gradient(135deg, #fff, #868686); */
    /* max-width: 800px; */
    /* box-shadow: 0 30px 50px -20px #ff2487; */
    
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
  }


  /* Hadas */
  svg.intro .text1 {
    display: none;
  }
  svg.intro.go .text1 {
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    /* text-transform: uppercase; */
    display: block;
  }
  svg.intro.go .text1-stroke {
    fill: none;
    stroke: #661053;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    -webkit-animation: dash 5s ease-in-out forwards;
            animation: dash 5s ease-in-out forwards;
  }
  svg.intro.go .text1-stroke:nth-child(2) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  svg.intro.go .text1-stroke:nth-child(3) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  svg.intro.go .text1-stroke-2 {
    stroke: #cc005d;
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
  }
  svg.intro.go .text1-stroke:nth-child(5) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  svg.intro.go .text1-stroke:nth-child(6) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
  }
  

  /* circle1 */
  svg.intro .circle1 {
    display: block;
    fill: none;
  }
  svg.intro.go .circle1 {
    display: block;
  }
  svg.intro.go .circle1-stroke {
       
    stroke: rgba(139, 192, 209, 0.1);
    stroke-width: 0.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;

    fill: transparent;
    position: relative;
    animation-name: circle1;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    
  }

  svg.intro.go .circle1-stroke:nth-child(2) {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  svg.intro.go .circle1-stroke:nth-child(3) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  svg.intro.go .circle1-stroke-2 {
    stroke: rgba(139, 192, 209, 0.5);
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  svg.intro.go .circle1-stroke:nth-child(5) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  svg.intro.go .circle1-stroke:nth-child(6) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
  }



/* de la */
  svg.intro .text2 {
    display: none;
  }
  svg.intro.go .text2 {
    font-family: 'Great Vibes', cursive;
    font-family: 'Aleo', serif;
    font-size: 11px;
    display: block;
    
  }
  svg.intro.go .text2-stroke {
    fill: none;
    stroke: #51256f;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    -webkit-animation: dash 5s ease-in-out forwards;
            animation: dash 5s ease-in-out forwards;
  }
  svg.intro.go .text2-stroke:nth-child(2) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  svg.intro.go .text2-stroke:nth-child(3) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  svg.intro.go .text2-stroke-2 {
    stroke: #000;
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
  }
  svg.intro.go .text2-stroke:nth-child(5) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  svg.intro.go .text2-stroke:nth-child(6) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
  }


  /* circle2 */
  svg.intro .circle2 {
    display: block;
    fill: none;
  }
  svg.intro.go .circle2 {
    display: block;
  }
  svg.intro.go .circle2-stroke {
    stroke: rgba(160, 218, 170, 0.1);
    stroke-width: 0.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;

    fill: transparent;
    position: relative;
    animation-name: circle2;

    animation-duration: 4s;  
    animation-fill-mode: forwards;       
  }
  svg.intro.go .circle2-stroke:nth-child(2) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  svg.intro.go .circle2-stroke:nth-child(3) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  svg.intro.go .circle2-stroke-2 {
    stroke: rgba(160, 218, 170, 0.5);
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
  }
  svg.intro.go .circle2-stroke:nth-child(5) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  svg.intro.go .circle2-stroke:nth-child(6) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
  }


/* Belleza */
  svg.intro .text3 {
    display: none;
  }
  svg.intro.go .text3 {
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
  }
  svg.intro.go .text3-stroke {
    fill: none;
    stroke: #661053;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    -webkit-animation: dash 5s ease-in-out forwards;
            animation: dash 5s ease-in-out forwards;
  }
  svg.intro.go .text3-stroke:nth-child(2) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  svg.intro.go .text3-stroke:nth-child(3) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  svg.intro.go .text3-stroke-2 {
    stroke: #cc005d;
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
  }
  svg.intro.go .text3-stroke:nth-child(5) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  svg.intro.go .text3-stroke:nth-child(6) {
    -webkit-animation-delay: 2.6s;
            animation-delay: 2.6s;
  }

  
  /* circle3*/
  svg.intro .circle3 {
    display: block;
    fill: none;
  }
  svg.intro.go .circle3 {
    display: block;
  }
  svg.intro.go .circle3-stroke {
    stroke:  rgba(233, 193, 250, 0.1);
    stroke-width: 0.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;

    fill: transparent;
    position: relative;
    animation-name: circle3;

    animation-duration: 4s;  
    animation-fill-mode: forwards;       
  }
  svg.intro.go .circle3-stroke:nth-child(2) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
  }
  svg.intro.go .circle3-stroke:nth-child(3) {
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
  }
  svg.intro.go .circle3-stroke-2 {
    stroke: rgba(233, 193, 250, 0.5);
    -webkit-animation-delay: 3.4s;
            animation-delay: 3.4s;
  }
  svg.intro.go .circle3-stroke:nth-child(5) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  svg.intro.go .circle3-stroke:nth-child(6) {
    -webkit-animation-delay: 3.6s;
            animation-delay: 3.6s;
  }

  
  @-webkit-keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes circle1 {
    100% {
      stroke-dashoffset: 0;
      /* transform: rotate(360deg) */;
    }
    from {transform:rotate3d(-1, -1, 1, -160deg);}
    to {transform:rotate3d(-1, -1, 1, 360deg); fill: rgba(139, 192, 209, 0.7);}
    
  }

  @keyframes circle2 {
    100% {
      stroke-dashoffset: 0;
    }
    from {transform:rotate3d(-1, -1, 1, -160deg);}
    to {transform:rotate3d(-1, -1, 1, 360deg); fill: rgba(160, 218, 170, 0.7);}
  }
  @keyframes circle3 {
    100% {
      stroke-dashoffset: 0;
    }
    from {transform:rotate3d(-1, -1, 1, -160deg);}
    to {transform:rotate3d(-1, -1, 1, 360deg); fill: rgba(233, 193, 250, 0.7);}
  }